<div class="header col-md-12">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>

<div class="week names col-md-12">
    <span class="day">Seg</span>
    <span class="day">Ter</span>
    <span class="day">Qua</span>
    <span class="day">Qui</span>
    <span class="day">Sex</span>
    <span class="day">Sab</span>
    <span class="day">Dom</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{ today: dayItem.isToday, 
	'different-month': !dayItem.isCurrentMonth, selected: dayItem.date.isSame(day), 
    'possuiEvento': eventos.indexOf(jobSet) === -1 }" 
	ng-click="select(dayItem)" ng-repeat="dayItem in week.days">{{dayItem.number}}</span>
</div>