<div class="header col-md-12">
    <span>{{day.format("LL")}}</span>
</div>
<div class="todasHoras col-md-12">
    <div class="horas">
        <div class="row">
            <div class="col-md-1">
                <span class="hora">Hora</span>
            </div>
            <div class="col-md-11">
            </div>
        </div>
    </div>
    <div class="horas" ng-repeat="hour in hours">
        <div class="row">
            <div class="col-md-1">
                <span class="hora" ng-click="selectHour(hour)">{{hour.name}}</span>
            </div>
			<div ng-repeat="x in eventos">
			<div ng-show="shouldDateBeShownWithHour(x.data, day, x.hora, hour.name)">
				 <h4> {{ x.hora }}:{{ x.minuto }} - {{ x.titulo }} - {{ x.descricao }} </h4>
            </div>
			</div>
		</div>
	</div>
</div>
